<!-- <div class="row top-200">
    <div class="col-md-4"></div>
    <div class="col-md-4 background-white well ">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, class:'form-control' %>
        </div>
        <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class:'form-control',autofocus: true %>
        </div>

        <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class:'form-control',autocomplete: "off" %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation,class:'form-control', autocomplete: "off" %>
        </div>
        
        <div class="actions">
            <%= f.submit "Sign up",class:'btn btn-primary btnt' %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-4"></div>

</div> -->


<div class="login-form">
      <div class="top-login">
        <span><img src="/group.png" alt=""/></span>
      </div>
      <h1>Sign up</h1>
      <div class="login-top">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="login-ic">
        <i class="icon-user"></i>
            
            <%= f.text_field :username,value: 'Your Username',onfocus:"this.value = '';",onblur:"if (this.value == '') {this.value = 'Your Username';}"%>
            <div class="clear"> </div>
        </div>
        <div class="login-ic">
        <i class="icon-email"></i>
            
            <%= f.email_field :email,value: 'Your Email',onfocus:"this.value = '';",onblur:"if (this.value == '') {this.value = 'Your Email';}"%>
            <div class="clear"> </div>
        </div>

        <div class="login-ic">
            <i class="icon"></i>
            <%= f.password_field :password, autocomplete: "off",value:"Password" ,onfocus:"this.value = '';", onblur:"if (this.value == '') {this.value = 'Password';}" %>
            <div class="clear"> </div>
        </div>
        <div class="login-ic">
            <i class="icon"></i>
            <%= f.text_field :password_confirmation, autocomplete: "off",value:"Password Confirmation" ,onfocus:"this.value = '';this.type='password'", onblur:"if (this.value == '') {this.value = 'password confirmation';this.type='text'}" %>
            <div class="clear"> </div>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="remember">
          
      </div>
      <% end -%>

      <div class="log-bwn">
        <%= f.submit "Sign up",class:'btn btn-primary btnt' %>
    </div>
    <% end %>
      </div>
      
</div>