<div class="login-form">
      <div class="top-login">
        <span><img src="/group.png" alt=""/></span>
      </div>
      <h1>サインアップ</h1>
      <div class="login-top">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="login-ic">
        <i class="icon-user"></i>
            
            <%= f.text_field :username,value: 'あなたのユーザーネーム',onfocus:"if (this.value == 'あなたのユーザーネーム') this.value = '';",onblur:"if (this.value == '') {this.value = 'あなたのユーザーネーム';}"%>
            <div class="clear"> </div>
        </div>
        <div class="login-ic">
        <i class="icon-email"></i>
            
            <%= f.email_field :email,value: 'あなたのメールアドレス',onfocus:"if (this.value == 'あなたのメールアドレス') this.value = '';",onblur:"if (this.value == '') {this.value = 'あなたのメールアドレス';}"%>
            <div class="clear"> </div>
        </div>

        <div class="login-ic">
            <i class="icon"></i>
            <%= f.password_field :password, autocomplete: "off",value:"パスワード" ,onfocus:"if (this.value == 'パスワード')
            this.value = '';", onblur:"if (this.value == '') {this.value = 'パスワード';}" %>
            <div class="clear"> </div>
        </div>
        <div class="login-ic">
            <i class="icon"></i>
            <%= f.text_field :password_confirmation, autocomplete: "off",value:"パスワードの確認" ,onfocus:"this.value = '';this.type='password'", onblur:"if (this.value == '') {this.value = 'パスワードの確認';this.type='text'}" %>
            <div class="clear"> </div>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="remember">
          
      </div>
      <% end -%>

      <div class="log-bwn">
        <%= f.submit "サインアップ",class:'btn btn-primary btnt' %>
    </div>
    <% end %>
      </div>
      
</div>