
<div class="row" ng-controller="FollowingCtrl">
    <section class="content">
        <h1 style="text-align:center">Following Companies</h1>
        <div>
            <div class="panel panel-default">
                <div class="panel-body pull-left">
                    <div class="table-container">
                        <table class="table">
                            <tbody>
                                <% @companies.each do |company| %>
                                <tr data-status="pagado" id="company-<%= company.id%>">
                                    <td>
                                        <div class="media">
                                            <a href="/companies/<%= company.id%>" class="pull-left">
                                                <img src="<%= company.logo.url %>" class="media-photo">
                                            </a>
                                            <div class="media-body">
                                                <span class="media-meta pull-right"></span>
                                                <h4 class="title">
                                                    <%= company.name %>
                                                    <!-- <span class="pull-right pagado">(Pagado)</span> -->
                                                </h4>
                                                <div class="col-md-6 col-offset-6">
                                                    <% if current_user.following?(company) %>
                                                        <a id="unfollow_btn-<%= company.id%>" ng-click="unfollow(<%=company.id %>)" class="btn btn-danger btn-lg btn-block">Unfollow</a>
                                                        <a id="follow_btn-<%= company.id%>" ng-click="follow(<%=company.id %>)" class="btn btn-primary btn-lg btn-block hide">Follow</a>
                                                    <% else %>
                                                        <a id="unfollow_btn-<%= company.id%>" ng-click="unfollow(<%=company.id %>)" class="btn btn-danger btn-lg btn-block hide">Unfollow</a>
                                                        <a id="follow_btn-<%= company.id%>" ng-click="follow(<%=company.id %>)" class="btn btn-primary btn-lg btn-block">Follow</a>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>