
<ul class="navigation">
	<li class="disable navigation__item overview">
		<a href="#">Overview</a>
		<div class="corner-bottom-right-overlay"></div>
		<div class="corner-bottom-right-curve"></div>
	</li>
	<li class="navigation__item review-tab active">
		<a href="#">4 Reviews</a>
		<div class="corner-bottom-right-overlay"></div>
		<div class="corner-bottom-right-curve"></div>
		<div class="corner-bottom-left-overlay"></div>
		<div class="corner-bottom-left-curve"></div>
	</li>
	
</ul>

	<div class="list-review">
	<div class="score">
		<span class="rating-stars-box">
		 <%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star_none.png",alt: "company image")%>

		</span>
		<p class="total-star-list"> 4/5 on 2 review</p>

	</div>
	<hr>
	<div class="list">
		<div class="user">
<img width="100%" height="120px !important" alt="Episerver Headline Photo" src="https://cdn.itviec.com/system/production/assets/images/9632/episerver-headline-photo-compress.jpg">
		 </div>
		<div class="content">
			<div class="star">
			<span class="rating-stars-box">
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star_none.png",alt: "company image")%>


		</span></div>
			<div class="text">
				<p> Môi trường làm việc thoải mái, đề cao yếu tố con người
- Thời gian làm viêc linh động
- Sếp quan tâm đến đời sống tinh thần của toàn thể nhân viên</p>
			</div>
			<div class="time">at 2017-09-09 00:00:00</div>
		</div>
	</div>
	<hr>
	<div class="list">
		<div class="user">
			<img width="100%" height="120px !important" alt="Episerver Headline Photo" src="https://cdn.itviec.com/system/production/assets/images/9632/episerver-headline-photo-compress.jpg">
		 </div>
		<div class="content">
			<div class="star">
			<span class="rating-stars-box">
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star_none.png",alt: "company image")%>


		</span></div>
			<div class="text">
				<p> Môi trường làm việc thoải mái, đề cao yếu tố con người
- Thời gian làm viêc linh động
- Sếp quan tâm đến đời sống tinh thần của toàn thể nhân viên</p>
			</div>
			<div class="time">at 2017-09-09 00:00:00</div>
		</div>
	</div>
	<hr>


	<div class="list">
		<div class="user">
			<img width="100%" height="120px !important" alt="Episerver Headline Photo" src="https://cdn.itviec.com/system/production/assets/images/9632/episerver-headline-photo-compress.jpg">
		</div>
		<div class="content">
			<div class="star">
			<span class="rating-stars-box">
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star.png",alt: "company image")%>
		<%= image_tag("star_none.png",alt: "company image")%>


		</span></div>
			<div class="text">
				<p> Môi trường làm việc thoải mái, đề cao yếu tố con người
- Thời gian làm viêc linh động
- Sếp quan tâm đến đời sống tinh thần của toàn thể nhân viên</p>
			</div>
			<div class="time">at 2017-09-09 00:00:00</div>
		</div>
	</div>
	<hr>
</div>
