	<section class="listings">
		<div class="wrapper">
			<ul class="properties_list">
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				<li>
					<a href="#">
						<%= image_tag("property_1.jpg", :alt => "rss feed") %>
					</a>
					<div class="property_details">
						<h1>
							<a href="#">Công ty ABCXYZ</a>
						</h1>
						<h2>địa chỉ ở .....</h2>
					</div>
				</li>
				
			</ul>
			<div class="more_listing">
				<a href="#" class="more_listing_btn">View More Listings</a>
			</div>
		</div>
	</section>	<!--  end listing section  -->