<section class="listings">
	<div class="wrapper">
		<ul class="properties_list">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("ban-vien-co-ltd-logo-170-151.png", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
			      <li>
			        <a href="#">
			          <%= image_tag("fpt-software-logo-170-151.png", :alt => "rss feed") %>
			        </a>
			        <div class="property_details">
			          <h1>
			            <a href="#">ABCXYZ 会社</a>
			          </h1>
			          <h2>アドレス : .....</h2>
			        </div>
			      </li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("kms-technology-logo-170-151.png", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("luxoft-vietnam-logo-170-151.png", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("ban-vien-co-ltd-logo-170-151.png", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("misfit-logo-170-151.jpg", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("automic-software-gmbh-in-hanoi-logo-170-151.jpg", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("cba-solutions-logo-170-151.jpg", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<li>
						<a href="#">
							<%= image_tag("property_3.jpg", :alt => "rss feed") %>
						</a>
						<div class="property_details">
							<h1>
								<a href="#">ABCXYZ 会社</a>
							</h1>
							<h2>アドレス : .....</h2>
						</div>
					</li>
				</div>			
			</div>
			
		</ul>
		<div class="more_listing">
			<a href="#" class="more_listing_btn">View More Listings</a>
		</div>
	</div>
</section>	<!--  end listing section  -->
