<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name , class:"form-control"%>
  </div>
    <div class="form-group">
      <%= form.label :logo %>
      <div class="kaisha_logo"  <% if company.logo.url or true  %>
           style="background-image: url(<%= company.logo.url %>");
           <% end %>>
        <%= form.file_field :logo, id: :company_logo, class:"form-control", accept: 'image/jpeg,image/gif,image/png', src: company.logo.url
        %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :cover %>
      <div class="kaisha_cover"  <% if company.cover.url or true  %>
          style="background-image: url(<%= company.cover.url %>");
      <% end %>>
        <%= form.file_field :cover, id: :company_cover, class:"form-control", accept: 'image/jpeg,image/gif,image/png' %>
      </div>
    </div>
  <div class="form-group">
    <%= form.label :employees %>
    <%= form.number_field :employees, id: :company_employees, class:"form-control", max: 10000 %>
  </div>

  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, id: :company_website, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :company_address , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :estabish %>
    <%= form.number_field :estabish, id: :company_estabish, class:"form-control", max: 100000 %>
  </div>

  <div class="form-group">
    <%= form.label :investment %>
    <%= form.number_field :investment, id: :company_investment, class:"form-control", max: 10000 %>
  </div>

    <div class="form-group">
      <%= form.label :overview %>
      <%= form.trix_editor :overview, id: :company_overview %>
    </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
    $('.kaisha_cover').uploadPreview({
        width: '100%',
        height: '500px',
        backgroundSize: 'contain',
        lang: 'en'
    });
    $('.kaisha_logo').uploadPreview({
        width: '100%',
        height: '200px',
        backgroundSize: 'contain',
        lang: 'en'
      });
</script>