<style>
  .btn-grey{
      background-color:#D8D8D8;
    color:#FFF;
  }
  .rating-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px 15px 20px 15px;
    border-radius:3px;
  }
  .bold{
    font-weight:700;
  }
  .padding-bottom-7{
    padding-bottom:7px;
  }

  .review-block{
    background-color:#FAFAFA;
    border:1px solid #EFEFEF;
    padding:15px;
    border-radius:3px;
    margin-bottom:15px;
  }
  .review-block-name{
    font-size:12px;
    margin:10px 0;
  }
  .review-block-date{
    font-size:12px;
  }
  .review-block-rate{
    font-size:13px;
    margin-bottom:15px;
  }
  .review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
  }
  .review-block-description{
    font-size:13px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>
<div class="list-review">
    <div class="row" ng-controller="RateCtrl">
      <div class="col-sm-6">
        <div class="rating-block">
          <h4>Average user rating</h4>
          <h2 class="bold padding-bottom-7"><%= @avg%>
            <small>/ <%= @review_total%></small>
          </h2>
          <div class="star avg_star"></div>
          <script>$('.avg_star').raty({ starType: 'i', score: <%= @avg %>, readOnly: true });</script>
        </div>
      </div>
      <div class="col-sm-6">
        <h4>Rating breakdown</h4>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">5
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;"><%= @five_star_total %></div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">4
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;"><%= @four_star_total %></div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">3
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;"><%= @three_star_total %></div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">2
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;"><%= @two_star_total %></div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">1
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;"><%= @one_star_total %></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-11">
        <hr/>
        <div class="review-block">
          <div class="row">
            <div class="col-sm-3">
              <img src="{{current_review.user.avatar.url}}" class="img-rounded">
              <div class="review-block-name">
                <a href="#">{{current_review.user.username}}</a>
              </div>
              <div class="review-block-date">{{current_review.created_at | date:"MM/dd/yyyy 'at' h:mma"}}
                <br/></div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate dropdown">
                <button type="button" class="btn btn-warning btn-xs" 
                 ng-repeat="i in range(1,current_review.summary_rate)" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <div class="dropdown-content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Workspace</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,current_review.workspace_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Salary</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,current_review.salary_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Care to Staff</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,current_review.care_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Training & learning</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,current_review.training_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Culture & fun</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,current_review.culture_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>OT</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,current_review.ot_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="review-block-title">{{current_review.title}}</div>
              <div class="review-block-description">{{current_review.comment}}</div>
            </div>
          </div>
          <hr/>
          <div class="row" ng-repeat="review in reviews">
            <div class="col-sm-3">
              <%= image_tag("noname.jpg", class: "img-rounded", alt: "No name") %>
              <div class="review-block-name">
                <a href="#"></a>
              </div>
              <div class="review-block-date">{{review.created_at | date:"MM/dd/yyyy 'at' h:mma"}}
                <br/></div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate dropdown">
                <button type="button" class="btn btn-warning btn-xs"
                 aria-label="Left Align" ng-repeat="i in range(1,review.summary_rate)" >
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <div class="dropdown-content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Workspace</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,review.workspace_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Salary</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,review.salary_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Care to Staff</td>
                        <td>
                          <div class="btn btn-warning btn-xs" ng-repeat="i in range(1,review.care_rate)" aria-label="Left Align">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="review-block-title">{{review.title}}</div>
              <div class="review-block-description">{{review.comment}}</div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
</div>