<style>

  .panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
  }

  .panel-white {
    border: 1px solid #dddddd;
  }

  .panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
  }

  .panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
  }

  .post .post-heading {
    height: 95px;
    padding: 20px 15px;
  }

  .post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
  }

  .post .post-heading .meta .title {
    margin-bottom: 0;
  }

  .post .post-heading .meta .title a {
    color: black;
  }

  .post .post-heading .meta .title a:hover {
    color: #aaaaaa;
  }

  .post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
  }

  .post .post-image .image {
    width: 100%;
    height: auto;
  }

  .post .post-description {
    padding: 15px;
  }

  .post .post-description p {
    font-size: 14px;
  }

  .post .post-description .stats {
    margin-top: 20px;
  }

  .post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
  }

  .post .post-description .stats .stat-item .icon {
    margin-right: 8px;
  }

  .post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
  }

  .post .post-footer .input-group-addon a {
    color: #454545;
  }

  .post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
  }

  .post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
  }

  .post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
  }

  .post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
  }

  .post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-right: 10px;
  }

  .post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    display: inline;
  }

  .post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
  }

  .post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
  }
</style>
<div class="list-review">
  <div class="score">
		<span class="rating-stars-box">
		 <%= image_tag("star.png", alt: "company image") %>
      <%= image_tag("star.png", alt: "company image") %>
      <%= image_tag("star.png", alt: "company image") %>
      <%= image_tag("star.png", alt: "company image") %>
      <%= image_tag("star_none.png", alt: "company image") %>

		</span>
    <p class="total-star-list"> 4/5 on 2 review</p>

  </div>
  <hr>
  <div class="col-sm-12">
    <div class="panel panel-white post panel-shadow" ng-show="current_review">
      <div class="post-heading">
        <div class="pull-left image">
          <img src="{{current_review.user.avatar.url}}" class="img-circle avatar" alt="user profile image">
        </div>
        <div class="pull-left meta">
          <h3>{{current_review.title}}</h3>
          <div class="score">
            <div class="star">
			        <span class="rating-stars-box" ng-repeat="i in range(1,current_review.summary_rate)">
		              <%= image_tag("star.png", alt: "company image") %>
		          </span>
            </div>

          </div>
          <h6 class="text-muted time"><span>{{current_review.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</span></h6>
        </div>
      </div>
      <div class="post-description">
        <p>{{current_review.comment}}</p>
        <div class="stats hide">
          <a href="#" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-up icon"></i>2
          </a>
          <a href="#" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-down icon"></i>12
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" ng-show="reviews" ng-repeat="review in reviews">
    <div class="panel panel-white post">
      <div class="post-heading">
      <h3>{{review.title}}</h3>
        <div class="pull-left meta">
          <div class="score">
            <div class="star">
			        <span class="rating-stars-box" ng-repeat="i in range(1,review.summary_rate)">
		              <%= image_tag("star.png", alt: "company image") %>
		          </span>
            </div>

          </div>
          <h6 class="text-muted time"><span>{{review.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</span></h6>
        </div>
      </div>
      <div class="post-description">
        <p>{{review.comment}}</p>
        <div class="stats hide">
          <a href="#" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-up icon"></i>2
          </a>
          <a href="#" class="btn btn-default stat-item">
            <i class="fa fa-thumbs-down icon"></i>12
          </a>
        </div>
      </div>
    </div>
  </div>
</div>