<style>
  .highcharts-credits {
    display: none
  }
</style>
<div ng-controller="CompanyCtrl" data-ng-init="init(<%= @company.id %>,<%= @relationship? @relationship.id : 'null' %>) ">
  <p id="notice">
    <%= notice %>
  </p>

  <div class="image">
    <img width="100%" alt="Episerver Headline Photo" src="<%= @company.cover.url %>">
  </div>
  <div class="infomation row">

    <div class="logo-container col-md-2">
      <%= image_tag(@company.logo.url, alt: "company logo") %>

    </div>

    <div class="info col-md-7">

      <h1 class="title">
        <%= @company.name %>
      </h1>
      <span>
        <i class="fa fa-map-marker"></i>
        <%= @company.address %>
      </span>

      <div class="company-info">
        <i class="fa fa-asterisk"></i>
        <span>
          Product
        </span>
        <i class="fa fa-user-o"></i>
        <span>
          <%= @company.employees %>
        </span>


        <span class="name">
          <i class="fa fa-usd"></i>
          <%= @company.investment ? @company.investment : ' No info' %>
        </span>

      </div>
      <div class="working-date">
        <i class="fa fa-calendar"></i>
        <span>
          Monday - Friday
        </span>
      </div>
      <div class="overtime">
        <i class="fa fa-external-link"></i>
        <span>
          <%= link_to @company.name, @company.website %>
        </span>
      </div>
    </div>
    <div class="button col-md-3">
      <% if current_user.following?(@company) %>
        <a id="unfollow_btn" ng-click="unfollow()" class="btn btn-danger btn-lg btn-block">Unfollow</a>
        <a id="follow_btn" ng-click="follow()" class="btn btn-primary btn-lg btn-block hide">Follow</a>
      <% else %>
        <a id="unfollow_btn" ng-click="unfollow()" class="btn btn-danger btn-lg btn-block hide">Unfollow</a>
        <a id="follow_btn" ng-click="follow()" class="btn btn-primary btn-lg btn-block">Follow</a>
      <% end %>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-8 overview-info">
      <ul class="navigation">
        <li class="active navigation__item overview">
          <a data-toggle="tab" href="#overview">Overview</a>
          <div class="corner-bottom-right-overlay"></div>
          <div class="corner-bottom-right-curve"></div>
        </li>
        <li class="navigation__item review-tab disable">
          <a data-toggle="tab" href="#review">4 Reviews</a>
          <div class="corner-bottom-right-overlay"></div>
          <div class="corner-bottom-right-curve"></div>
          <div class="corner-bottom-left-overlay"></div>
          <div class="corner-bottom-left-curve"></div>
        </li>

      </ul>

      <div class="tab-content">
        <div id="overview" class="tab-pane fade in active paragraph">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
              <div id="chart" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
              <script>
                Highcharts.chart('chart', {

                    chart: {
                      polar: true,
                      type: 'line'
                    },

                    title: {
                      text: 'チャート',
                      x: -80
                    },

                    pane: {
                      size: '80%'
                    },

                    xAxis: {
                      categories: ['Management cares about me', 'Salary & benefits', 'Office & workspace', 'Training & learning', 'Culture & fun', 'OT'],
                      tickmarkPlacement: 'on',
                      lineWidth: 0
                    },

                    yAxis: {
                      gridLineInterpolation: 'polygon',
                      lineWidth: 0,
                      min: 0
                    },

                    tooltip: {
                      shared: true,
                      pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f} star</b><br/>'
                    },

                    legend: {
                      align: 'right',
                      verticalAlign: 'top',
                      y: 70,
                      layout: 'vertical'
                    },

                    series: [{
                      name: 'star number',
                      data: [<%= @care_rate_total%>, <%= @salary_rate_total%>, <%= @workspace_rate_total%>, <%= @training_rate_total%>, <%=  @culture_rate_total%>, <%=  @ot_rate_total%>],
                      pointPlacement: 'on'
                    }]

                  });
              </script>
              <h3>
                <%= @company.name %>
              </h3>
              <div class="trix-content">
                <%= @company.overview.html_safe %>
              </div>
            </div>
          </div>
        </div>
        <div id="review" class="tab-pane fade">
          <%= render "listreview" %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <div id="" class="col-md-4">
        <%= render "reviews/form" %>
      </div>
      <% end %>
  </div>

  <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %>

</div>