<div class="row">
  <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/"><img src='/logo.png' alt="Smiley face" id="logo"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-align-justify"></span>
          </a>
          <ul class="dropdown-menu" style="background-color: black">
            <% if user_signed_in? %>
                <li>
                  <%= link_to edit_user_registration_path do %>
                      <span class="glyphicon glyphicon-user"></span>
                      <%= "Profile" %>
                  <% end %>
                </li>
            <% else %>
                <li>
                  <%= link_to new_user_registration_path do %>
                      <span class="glyphicon glyphicon-new-window"></span>
                      <%= "Sign up" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path do %>
                      <span class="glyphicon glyphicon-log-in"></span>
                      <%= "Log in" %>
                  <% end %>
                </li>
            <% end %>
          </ul>

          <% if user_signed_in? %>
              <% if current_user.avatar.present? %>
                <li class="round-image-50">
                  <%= image_tag current_user.avatar.thumb.url %>
                </li>
            <% end %>
        <%end %>


        <% if !current_user %>
            <li ><%= link_to "Login",new_user_session_path %></li>
        <% else %>
            <li>
              <a href="#" role="button" aria-haspopup="true" aria-expanded="false" id ="text-top"><%= current_user.username %></a>
            </li>
            <li><%= link_to "Logout",destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>