<nav class="navbar navbar-inverse" id="menuTop">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>
          <img src='/logo.png' alt="Smiley face" id="logo">
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-2">
      <ul class="nav navbar-nav navbar-left">
        <li style="width: 250px;">
          <%= form_tag(home_index_path, method: :get) do %>
              <div class="input-group">
                <%= text_field_tag :term, nil, class: "form-control", placeholder: "Search..." %>
                <div class="input-group-btn">
                  <%= submit_tag 'Search', class: "btn btn-default" %>
                </div>
              </div>
          <% end %>
        </li>
        <li><%= link_to "Home", root_path %></li>
        <% if admin_signed? %>
            <li><%= link_to "New Company", new_company_path %></li>
        <% end %>
        <li><a href="#">QA</a></li>
        <% if user_signed_in? %>
            <li>
              <%= link_to "Following", following_user_path(current_user) %>
            </li>
            <li>
              <a href="#">
                <div id="notifications_in_header">
                  <%= render_notifications_of current_user, index_content: :unopened_with_attributes %>
                </div>
              </a>
            </li>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">


        <% if !current_user %>
            <li>
              <div class="btn-outline collapsed btn btn-default">
                <%= link_to "  Login", new_user_session_path() %>
              </div>
            </li>
        <% else %>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= image_tag(current_user.avatar.thumb.url, size: "40x40", :alt => "rss feed", :class => "img-circle") %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-item" style="padding: 5px 15px 5px 15px;">
                <li><%= link_to "Profile", edit_user_registration_path %></li>
                <hr style="margin-top: 0px; margin-bottom: 0px;">
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
<style type="text/css">
  .fixed {
    position: fixed;
    z-index: 10000;
    top: 0px;
    width: 100%;
  }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        pos = $("#menuTop").position();
        $(window).scroll(function () {
            var posScroll = $(document).scrollTop();
            if (parseInt(posScroll) > parseInt(pos.top)) {
                $("#menuTop").addClass('fixed');
            } else {
                $("#menuTop").removeClass('fixed');
            }
        });

    });
</script>
