<!DOCTYPE html>
<html>
<head>
<title>Kaisha review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<body  class = "background-1">
  <%= render "layouts/header" %>
  <div class="container top-60">
  <%= render 'layouts/messages' %>
  <%= yield %>
  </div>

</body>
</html>
