<!DOCTYPE html>
<html>
<head>
<title>Kaisha review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="../app/assets/stylesheet/reset.css">
    <link rel="stylesheet" type="text/css" href="../app/assets/stylesheet/responsive.css">

    <script type="text/javascript" src="../app/assets/javascript/jquery.js"></script>
    <script type="text/javascript" src="../app/assets/javascript/main.js"></script>
    
</head>

<body  class = "background-1">
  <%= render "layouts/header" %>
  <div class="container top-60">
  <%= render 'layouts/messages' %>
  <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
